body{font-size:12pt; max-width:43em; padding:0.5em 0.5em 10em 0.5em; margin:0 auto;
    line-height:1.5em; color:black; background-color:white; font-family:Sans-Serif;}
li{margin: 1em;}
code{white-space: pre;}
p{text-align:justify; text-justify:inter-word;}
.displaymath{display: block; margin-left: auto; margin-right: auto;}
.header{margin-top:1cm; margin-bottom:1cm;}
.navleft{display:inline-block; width:30%; text-align:left;}
.navcenter{display:inline-block; width:35%; text-align:center;}
.navright{display:inline-block; width:30%; text-align:right;}
.date{font-size:10pt; color:#303030;}
.indexdate{font-size:10pt; color:#606060; text-decoration:none;}
.tease{font-size:12pt; color:#000000; text-decoration:none;}
.tease:hover{text-decoration:underline;}
.tagline{font-size:10pt; font-style:italic;}
.caption{max-width:70%; display:block; margin:auto;}
.image{max-width:80%;}
.image_center{max-width:80%; display:block; margin:auto;}
a.choice{color:#000000; text-decoration: none;}
blockquote{border-left: 0.25em solid #c0c0c0; padding: 0em 1em; margin: 0em; color: #303030;}
@media (prefers-color-scheme: dark) {
    body{color:white; background-color:black;}
    .math{filter: invert(1);}
}

/* a nice pink selection :) */
::selection {
    background: #EA4C89;
    color: #FFF;
    shadow: none;
}

/* better horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed #CCC;
    margin: 1em 0;
    padding: 0;
}

/* not sure what this does but not going to change it now */
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

pre {
    font-size: 110%;
    padding: 8pt;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}

/* give a more desirable source code experience */
pre,
code {
    font-family: "Source Pro", Monaco, "Courier New", monospace;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
pre.src {
    position: relative;
}
pre.src:before {
    position: absolute;
    font-size: 50%;
    background-color: #FFF;
    top: -0.5em;
    right: 0.5em;
    padding: 4px;
    border: 1px solid #CCC;
}

/* these are to display the language name */
pre.src-emacs-lisp:before {
    content: "Emacs Lisp";
}

pre.src-bash:before {
    content: "Bash Script";
}

pre.src-sh:before{
    content: "Sh Script";
}

pre.src-javascript:before {
    content: "Javascript";
}

/* this gives the background to the code blocks */
.outline-tex-2 code, pre {
    background-color: #EEE;
}


body {
    font-family: Lora, Palatino, Georgia, serif;
    width: 92%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #FFF;
}
