body {
    font-family: freight-text,Iowan Old Style,Georgia,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
    font-size: 12pt;
    max-width: 43em;
    padding: 0.5em 0.5em 10em 0.5em;
    width: 92%;
    max-width: 1024px;
    margin: 0 auto;
    line-height: 1.5em;
    background-color: #f5f2f0;
}

li{margin: 1em; line-height: 1em;}
code{white-space: pre;}
p{text-align:justify; text-justify:inter-word;}
.displaymath{display: block; margin-left: auto; margin-right: auto;}
.title{margin-top:4rem; margin-bottom:4rem;}
.navleft{display:inline-block; width:30%; text-align:left;}
.navcenter{display:inline-block; width:35%; text-align:center;}
.navright{display:inline-block; width:30%; text-align:right;}
.date{font-size:10pt; color:#303030;}
.indexdate{font-size:10pt; color:#606060; text-decoration:none;}
.tease{font-size:12pt; color:#000000; text-decoration:none;}
.tease:hover{text-decoration:underline;}
.tagline{font-size:10pt; font-style:italic;}
.caption{max-width:70%; display:block; margin:auto;}
.image{max-width:80%;}
.image_center{max-width:80%; display:block; margin:auto;}
a.choice{color:#000000; text-decoration: none;}
blockquote{border-left: 0.25em solid #c0c0c0; padding: 0em 1em; margin: 0em; color: #303030;}
@media (prefers-color-scheme: dark) {
    body{color:#f5f2f0; background-color:black;}
    .math{filter: invert(1);}
}


.header{
    margin-top:1cm;
    margin-bottom:1cm;
    background-image: url("");
    background-size: cover;
    background-position: right top;
    //height: 15rem;
    transform-origin: center bottom;
}

.page-nav ul {
    display: inline-flex;
    flex-wrap: wrap;
    font-family: freight-sans,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
    opacity: .3;
    transition: opacity .25s ease-out;
}

.page-nav ul li {
    list-style-type: none;
    margin: 1em;
    line-height: 0em;
}

/* a nice pink selection :) */
::selection {
    background: #EA4C89;
    color: #FFF;
    shadow: none;
}

/* better horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed #CCC;
    margin: 1em 0;
    padding: 0;
}

/* not sure what this does but not going to change it now */
*,
*:before,
*:after {
    background-repeat: no-repeat;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: inherit;
    vertical-align: initial;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* a:-webkit-any-link { */
/*     color: inherit; */
/*     //color: -webkit-link; */
/*     cursor: pointer; */
/*     text-decoration: underline; */
/* } */

a {
    color: inherit;
    text-decoration: underline;
}

nav a {
    color:inherit;
    cursor:pointer;
    text-decoration: none;
}

pre {
    font-size: 110%;
    padding: 8pt;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}

/* give a more desirable source code experience */
pre,
code {
    font-family: "Source Pro", Monaco, "Courier New", monospace;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
pre.src {
    position: relative;
}
pre.src:before {
    position: absolute;
    font-size: 50%;
    background-color: #FFF;
    top: -0.5em;
    right: 0.5em;
    padding: 4px;
    border: 1px solid #CCC;
}

/* these are to display the language name */
pre.src-emacs-lisp:before {
    content: "Emacs Lisp";
}

pre.src-bash:before {
    content: "Bash Script";
}

pre.src-sh:before{
    content: "Sh Script";
}

pre.src-javascript:before {
    content: "Javascript";
}

/* this gives the background to the code blocks */
.outline-tex-2 code, pre {
    background-color: #F5F2F0;
}
