body {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 21px;
  line-height: 1.5;
  font-family: Georgia;
  fontweight: 300;
  fontsize: '16px';
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

html,
body {
  height: 100%;
}
html {
  background-color: #f0f0f0;
}
#root {
  background-color: #f0f0f0;
  min-height: 100%;
  margin: 15px 30% 20px 5%;
}

a {
  border-bottom: 1px dotted rgb(0, 168, 0);
  &:active,
  &:hover,
  &:focus,
  &.is-active-a {
    border-bottom: 1px solid rgb(0, 168, 0);
    color: black;
  }

  &:focusfromtab {
    outline: 2px solid rgb(0, 152, 0);
    outlineoffset: 2px;
    color: black;
  }
}
